<!doctype html>
    <title>Classification</title>
    <head>

    </head>
    <body>
        <h1>Upload to see classification!</h1>
        <form action="/classify" method="post" enctype="multipart/form-data">
            <label for="image">Image: </label>
            <input type="file" id="image" name="image"/>
            <br/>
            <input type="submit" value="Submit" />
            <input type="reset" />
        </form>
        {% if classification %}
            <h3>Classified as: {{ classification }}</h3>
        {% endif %}
    </body>
</html>