<html>
    <title>TESTING</title>
    <head>

    </head>
    <body>
        <h1>Hello!!</h1>
        {% if name %}
        <h1>Hello {{ name }}!</h1>
        {% else %}
        <h1>Hello, World!</h1>
        {% endif %}
    </body>
</html>